/* Desktop alapbeállítás */
.form-col {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Kisebb gap, hogy kompaktabb legyen */
  min-width: 400px; /* Desktopon jó, ha széles */
  padding-top: 8px;
}

.row {
  display: flex;
  gap: 12px;
}

.half {
  flex: 1; /* Fele-fele arány */
}

mat-form-field {
  width: 100%;
}

@media (max-width: 600px) {
  .form-col {
    min-width: unset;
    width: 100%;
  }

  .row {
    flex-direction: column;
    gap: 0;
  }
}
